/* ===== PAYMENT ===== */
.payment__input-field {
    margin-bottom: 20px;
}

.payment__input-title {
    display: block;
    font-size: var(--font-mdm);
    font-weight: var(--font-bold);
    color: var(--font-color);
    margin-bottom: 10px;
}

.payment__input {
    width: 100%;
    font-size: var(--font-md);
    color: var(--font-color);
    padding: 3px 5px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid var(--font-color);
    outline: none;
}

.payment__button {
    padding: 5px 18px;
    border: none;
    background-color: var(--primary-color);
    border-radius: 25px;
    color: white;
    font-size: var(--font-md);
    font-weight: var(--font-bold);
    text-transform: capitalize;
    cursor: pointer;
    box-shadow: var(--blue-shadow);
    transition: 0.3s ease-in-out;
}

.payment__button:hover {
    box-shadow: var(--button-shadow);
}

/* ===== RESPONSIVE ===== */
@media screen and (max-width: 960px) {
    /* ===== PAYMENT ===== */
    .payment__input-title {
        font-size: var(--font-md);
    }
}

@media screen and (max-width: 960px) {
    /* ===== PAYMENT ===== */
    .payment__input-title {
        font-size: var(--font-sm);
    }

    .payment__input {
        font-size: var(--font-sm);
    }

    .payment__button {
        font-size: var(--font-sm);
    }
}
