/* ===== NAV ===== */
nav {
    display: grid;
    grid-template-rows: 1fr 0.1fr;
    padding: 50px 30px 50px 0;
    transition: 0.3s;
}

.nav-toggle {
    width: 30px;
    height: 20px;
    margin: auto;
    display: none;
    flex-direction: column;
    justify-content: space-between;
}

.nav-toggle span {
    display: inline-block;
    width: 100%;
    height: 4px;
    background-color: salmon;
    border-radius: 5px;
    transform-origin: 0 0;
    transition: 0.3s;
}

.nav-toggle.active span:first-child {
    transform: translate(3px, -2px) rotate(45deg);
}

.nav-toggle.active span:nth-child(2) {
    transform: translateX(-10px);
    opacity: 0;
}

.nav-toggle.active span:last-child {
    transform: translate(0, 3px) rotate(-45deg);
}

.nav-brand {
    padding: 0 0 50px;
    text-align: center;
}

.nav-brand .brand-name {
    font-size: var(--font-size-h2-lg);
    font-weight: 400;
}

.nav-brand .brand-logo {
    display: none;
    font-weight: 400;
}

.nav-brand span {
    font-weight: 600;
    color: var(--light-blue);
}

.nav-field,
.nav-logout {
    display: grid;
    color: #acacac;
    text-decoration: none;
    grid-template-columns: 30% 70%;
    width: 100%;
    margin-bottom: 10px;
    transition: 0.3s;
}

.nav-logout {
    margin: auto;
}

.nav-field:hover {
    background-color: rgba(89, 149, 253, 0.2);
    border-radius: 10px;
}

.nav-logout:hover {
    background-color: rgba(172, 172, 172, 0.2);
    border-radius: 10px;
}

.nav-field i,
.nav-logout i {
    margin: auto;
    font-size: var(--icon-size-lg);
    color: #acacac;
}

.nav-field:hover i,
.nav-field:hover a {
    color: var(--dark-blue);
}

.nav-field p,
.nav-logout p {
    display: inline-block;
    font-size: var(--icon-size-lg);
    padding: 10px 0;
    color: #acacac;
    text-decoration: none;
    transition: 0.3s;
}

.nav-field.active {
    background-color: rgba(89, 149, 253, 0.2);
    border-radius: 10px;
}

.nav-field.active i,
.nav-field.active a {
    color: var(--dark-blue);
}

/* ===== RESPONSIVE ===== */
@media (max-width: 850px) {
    /* ===== NAV ===== */
    nav {
        width: 100px;
        padding: 20px 20px;
        grid-template-rows: auto 1fr 0.1fr;
        font-size: 1rem;
        transition: 0.3s;
        position: relative;
        left: 0;
        overflow: hidden;
    }

    .nav-toggle {
        display: flex;
    }

    .nav-brand .brand-name {
        display: none;
        transition: 0.3s;
    }

    .nav-brand .brand-logo {
        display: inline-block;
        font-size: var(--font-size-h2-md);
        transition: 0.3s;
    }

    .nav-field,
    .nav-logout {
        grid-template-columns: 1fr;
    }

    .nav-field i,
    .nav-logout i {
        font-size: var(--icon-size-md);
        padding: 13px;
    }

    .nav-field p,
    .nav-logout p {
        display: none;
    }

    .container.active {
        grid-template-columns: auto 1fr;
    }

    .nav-main {
        padding: 20px 0;
    }

    .nav-brand {
        padding-bottom: 30px;
    }

    .active nav {
        width: 200px;
        grid-template-rows: 0.05fr 1fr 0.1fr;

        background-color: white;
    }

    .active .nav-toggle {
        margin: auto 0;
        justify-self: end;
    }

    .active .nav-brand .brand-name {
        display: block;
        font-size: var(--font-size-h2-md);
    }

    .active .nav-brand .brand-logo {
        display: none;
    }

    .active .nav-field,
    .active .nav-logout {
        grid-template-columns: 30% 70%;
    }

    .active .nav-field i,
    .active .nav-logout i {
        padding: 0px;
    }

    .active .nav-field p,
    .active .nav-logout p {
        display: inline-block;
        padding-left: 15px;
        font-size: var(--icon-size-md);
    }

    .active .dashboard-container {
        width: 100vmax;
    }
}
